html, body {
    -ms-overflow-style: scrollbar;
}
div,
p,
input,
a,
img,
button,
body,
span,
ul,
li,
select,
option,
i {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    outline: none;
}

ul,
ol,
li {
    list-style: none;
    padding: 0;
    margin: 0;
}

.w {
    width: 1240px;
    margin: 0 auto;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

input {
    outline: none;
}

img {
    border: none;
}

/* 清除浮动 */
/* .clearfloat{clear:both} */

/* ----------------------顶部通栏------------------- */

#top {
    background-color: #e6e6e6;
    height: 30px;
    font-size: 12px;
    line-height: 30px;
    color: #6e6e6e;
}

#top>.w a {
    color: #737373;
}

#top .left {
    float: left;
    position: relative;
    height: 30px;
}

/* #top .left a {
    line-height: 30px;
} */

#top .userInfoBtn {
    height: 30px;
    line-height: 30px;
    padding: 0 10px;
    /* margin-top: -30px; */
    text-align: center;
    display: none;
}

#top .userInfoBtn:hover {
    background-color: #fff;
    color: red;
    cursor: pointer;
}

#top .left .register {
    color: #ff2021;
    margin-left: 40px;
}

#top .right {
    float: right;
}

#top .right .indent {
    margin-right: 25px;
}

#top .right .myCollectBtn {
    margin-right: 25px;
}

#top .right .myCollectBtn:hover {
    color: #e87e0c;
}

.right .storeManagement {
    display: inline-block;
    width: 120px;
    height: 30px;
    text-align: center;
    position: relative;
}

#top .right .storeManagement:hover {
    cursor: pointer;
}

.right .storeList {
    width: 120px;
    background-color: #fff;
    box-shadow: 0px 4px 3px 1px rgba(0, 0, 0, 0.2);
    position: absolute;
    left: 0;
    top: 30px;
    z-index: 999;
    display: none;
}

#top .right .storeList li:hover {
    cursor: pointer;
    background-color: #e6e6e6;
}

#top .right .storeList li:hover a {
    color: #0c9cf3;
}

.storeManagement .icon-angle-down {
    font-size: 17px;
    color: #333;
}

/* --------------------导航条------------------- */

#header {
    width: 100%;
    height: 90px;
    background-color: #fff;
    border-bottom: 8px solid #1b2f4e;
}

.fixed {
    position: fixed;
    top: 0;
    z-index: 99;
    margin: 0 auto;
}

#header .w {
    height: 90px;
    position: relative;
}

#header .titleList {
    width: 100%;
    height: 100%;
    position: relative;
}

#header .titleList li {
    float: left;
    line-height: 90px;
    font-size: 16px;
}

#header .titleList li:nth-child(1) {
    margin-left: 0;
    height: 90px;
}

#header .titleList .logo {
    height: 90px;
    /* margin: 0 195px 0 240px */
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
}

#header .titleList .logo img {
    width: 169;
    height: auto;
}

#header .titleList .myOrderBtn a {
    font-size: 14px;
    color: #333;
    position: absolute;
    top: 0px;
    right: 230px;
}

.titleList .stylistBtn {
    position: absolute;
    color: #333;
    font-size: 14px;
    top: 0px;
    right: 320px;
    display: none;
}

/* 开店 */
.titleList .shopJoin {
    position: absolute;
    color: #333;
    font-size: 14px;
    top: 0px;
    right: 325px;
    display: none;
}

#header .titleList .item {
    margin-right: 35px;
}

.titleList li a {
    color: #4c4c4c;
    font-size: 14px;
}

.titleList .logo img {
    margin-top: 18px;
    width: 169px;
}

.moreBtn {
    /* position: relative; */
    position: absolute;
    top: 0px;
    right: 90px;
}

.titleList .moreBtn>a {
    font-size: 14px;
    color: #333;
    position: relative;
}

.moreBtn .moreBox {
    width: 400px;
    height: 125px;
    background-color: #fff;
    border: 1px solid #ccc;
    position: absolute;
    top: 65px;
    /* left: 930px; */
    right: -160px;
    z-index: 9;
    border-radius: 15px;
    padding: 10px;
    overflow: hidden;
    display: none;
}

.moreBox .moreList {
    height: 50px;
    line-height: 30px;
    padding: 10px 10px 10px 20px;
}

.moreBox .moreList a {
    display: inline-block;
    width: 48%;
    height: 30px;
    line-height: 30px;
    color: #666;
    font-size: 14px;
}

.moreBox .moreList a i {
    font-size: 18px;
    vertical-align: middle;
}

.titleList .shoppingCart {
    display: inline-block;
    position: absolute;
    top: 34px;
    right: 165px;
}

.titleList .shoppingCart img {
    float: left;
    margin-top: 2px;
}

.shoppingCart .cartNumber {
    display: inline-block;
    position: absolute;
    top: -6px;
    left: 10px;
    width: 14px;
    height: 14px;
    background-color: #e42f2b;
    border-radius: 50%;
    color: #fff;
    font-size: 12px;
    text-align: center;
    line-height: 14px;
    font-weight: 500;
}

#header .titleList .headerLoginBtn {
    line-height: 90px;
    float: left;
    /* position: relative; */
    height: 9px;
}

.titleList .headerLoginBtn>a {
    display: inline-block;
    width: 58px;
    height: 25px;
    border: 1px solid #e0e0e0;
    font-size: 12px;
    color: #333;
    border-radius: 11px;
    text-align: center;
    line-height: 25px;
    position: absolute;
    top: 33px;
    right: 5px;
}

.titleList .headerLoginBtn>.userName {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    top: 27px;
    display: none;
    border: none;
    overflow: hidden;
}

.titleList .headerLoginBtn>.userName img {
    width: 35px;
    height: 35px;
}

.headerLoginBtn .userInfoBox a {
    height: 20px;
    font-size: 12px;
    color: #666;
    text-align: center;
    line-height: 20px;
}

.headerLoginBtn .userInfoBox {
    position: absolute;
    top: 61px;
    right: -66px;
    background-color: #fff;
    width: 226px;
    height: 130px;
    z-index: 99;
    padding: 20px 10px;
    border: 1px solid #e0e0e0;
    display: none;
    border-radius: 10px;
}

.headerLoginBtn .loginText {
    background-color: #fff;
    z-index: 9;
}

.headerLoginBtn .imgBox {
    width: 95px;
    height: 95px;
    border: 1px solid #e5e5e5;
    padding: 11px;
    line-height: 67px;
}

.headerLoginBtn .imgBox img {
    width: 70px;
    height: 70px;
    border-radius: 50%;
}

.headerLoginBtn .userInfoBox .infoText {
    position: absolute;
    top: 20px;
    right: 60px;
}

.headerLoginBtn .userInfoBox .logOut {
    position: absolute;
    bottom: 15px;
    right: 15px;
}

.headerLoginBtn .userInfoBox .topIntegral {
    position: absolute;
    top: 42px;
    left: 118px;
}

.headerLoginBtn .userInfoBox>a:hover {
    color: #e42e2e;
}

.dianpu {
    display: none;
}

/* #header .headerLoginBtn .userName {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
} */

#header .storeLink {
    font-size: 14px;
}

.storeBtn {
    position: absolute;
    right: 430px;
}

/* -------------------联系我们-------------- */

#contact {
    /* height: 337px; */
    background-color: #fff;
    padding: 10px 0;
    color: #fff;
}

.foorterBox {
    height: 120px;
    position: relative;
    /* background-color: #ccc; */
}

.foorterBox>.foorterLogo {
    position: absolute;
    left: 300px;
    top: 33px;
}

.foorterBox>.foorterLogo img {
    width: 170px;
    height: auto;
}

.foorterBox>.foorterLine {
    width: 2px;
    height: 60px;
    background-color: #d2d2d2;
    position: absolute;
    left: 620px;
    top: 33px;
}

.foorterBox>.foorterQrcode {
    position: absolute;
    right: 300px;
    top: 20px;
}

.foorterQrcode img {
    width: 80px;
    height: 80px;
}

.putOnRecords p {
    font-size: 12px;
    color: #666;
    text-align: center;
    /* margin-top: 10px; */
    margin: 20px 0 3px;
    /* padding-bottom: 20px; */
}

.putOnRecords .name {
    margin-left: 30px;
}

/* ------------------备案---------------- */

#reference {
    height: 50px;
    background-color: #424043;
    text-align: center;
    line-height: 50px;
    color: #fff;
    font-size: 12px;
    /* margin-top: 300px; */
}

/* -----------------删除提示------------------ */

.uploadSuccessMask {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: none;
    z-index: 99;
}

.successHiteBox {
    width: 370px;
    height: 192px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.successHiteBox .hiteHeader {
    width: 100%;
    height: 36px;
    background-color: #f7f7f7;
    font-size: 14px;
    color: #666;
    line-height: 36px;
    padding: 0 10px;
}

.hiteHeader .left {
    float: left;
}

.hiteHeader .right {
    display: inline-block;
    width: 20px;
    height: 20px;
    border: 1px solid #b5b5b5;
    float: right;
    font-size: 18px;
    margin-top: 10px;
    text-align: center;
    line-height: 16px;
    border-radius: 50%;
    color: #b5b5b5;
}

.hiteHeader .right:hover {
    /* background-color: #0c9cf3;
    color: #fff; */
    cursor: pointer;
}

.successHiteBox .hiteContentBox {
    width: 100%;
    height: 155px;
    background-color: #fff;
    padding-top: 30px;
}

.hiteContentBox .hiteText {
    font-size: 18px;
    color: #666;
    font-weight: 900;
    vertical-align: middle;
    text-align: center;
}

.hiteText>img {
    vertical-align: middle;
}

.hiteContentBox>.btn {
    margin: 30px 0 0 40px;
}

.hiteContentBox button {
    width: 80px;
    height: 35px;
    border: none;
    outline: none;
    border-radius: 4px;
    color: #666;
    font-size: 14px;
    background-color: #d6d6d6;
}

.hiteContentBox button:hover {
    cursor: pointer;
}

.hiteContentBox .goList {
    background-color: #0c9cf3;
    color: #fff;
    margin-left: 125px;
}

/* ------------------分享--------------- */

.shareBox {
    width: 50px;
    position: fixed;
    right: 15px;
    bottom: 150px;
}

.shareBox>div {
    width: 50px;
    height: 50px;
}

.shareBox li {
    margin-bottom: 15px;
}

/* -----------------成功提示------------------ */

.SuccessMask {
    width: 200px;
    height: 50px;
    border: 1px solid #0c9cf3;
    border-radius: 5px;
    background-color: #fff;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 20px;
    font-weight: 900;
    line-height: 50px;
    text-align: center;
    color: #0c9cf3;
    display: none;
}

/* -------------------登录弹框---------------- */

.formBox {
    width: 370px;
    height: 355px;
    margin: 0px auto;
    padding: 30px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0px 0px 35px #999;
    position: fixed;
    top: 50%;
    left: 50%;
    /* transform: translate(-50%,-50%); */
    margin: -175px -185px;
    display: none;
}


.accountNumberBox {
    width: 100%;
    display: none;
    position: relative;
}

#message {
    position: absolute;
    right: 30px;
    top: 5;
    text-align: center;
    font-size: 12px;
    color: red;
    display: none;
}

.close {
    width: 25px;
    height: 25px;
    position: absolute;
    right: 20px;
    top: 20px;
    font-size: 25px;
    color: #fff;
    text-align: center;
    line-height: 24px;
    border-radius: 50%;
    background-color: #ff9999;
}

.close:hover {
    background-color: #e42f2b;
    cursor: pointer;
}

.formBox .title {
    font-size: 18px;
    color: #999;
    text-align: center;
    margin-left: -15px;
}

.formBox .title span:hover {
    cursor: pointer;
    color: #e42e2e;
}

.title .phoneLogin {
    color: #e42e2e;
}

.formBox .title .line {
    margin: 0 25px;
}

.inputBox {
    height: 42px;
    margin-top: 26px;
    border: 1px solid #ccc;
    position: relative;
}

.inputBox .userIscon {
    display: inline-block;
    background-color: #ccc;
    width: 40px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    float: left;
}

.inputBox .userName {
    width: 266px;
    height: 40px;
    float: right;
    border: none;
    padding-left: 10px;
}

.inputBox .passWord {
    width: 266px;
    height: 40px;
    border: none;
    padding-left: 10px;
}

.formBox .forgetPasswor {
    font-size: 12px;
    text-align: right;
    line-height: 52px;
}

.formBox .forgetPasswor a {
    color: #666;
}

/* ---------手机登录---------- */

.phoneBox .passwordBox {
    border: none;
    margin-bottom: 52px;
}

.phoneBox .passWord {
    width: 179px;
    border: 1px solid #ccc;
}

.phoneBox .codeBtn {
    width: 104px;
    height: 40px;
    border: 1px solid #ccc;
    color: #666;
    text-align: center;
    line-height: 40px;
    margin-left: 17px;
    outline: none;
    background-color: #fff;
}

.phoneBox .codeBtn:hover {
    background-color: #e42e2e;
    color: #fff;
}

.loginBtn {
    width: 100%;
    height: 40px;
    color: #fff;
    font-size: 16px;
    border-radius: 10px;
    background-color: #ff9999;
    border: none;
}

.loginBtn:hover {
    background-color: #e42f2b;
}

.goRegister {
    text-align: right;
    font-size: 12px;
    color: #666;
    line-height: 52px;
}

.goRegister a {
    color: #e42f2b;
}

.phoneBox .phoneCodeHint {
    position: absolute;
    bottom: 135px;
    right: 20px;
    font-size: 12px;
    color: #e42f2b;
    display: none;
}


/* --------------分割--------------- */
.swiper-container {
    position: relative;
    height: 8px;
    min-width: 1200px;
    background-color: #1b2f4e;
}

/* ---------------------对话框---------------------- */
.callout_button,
.close_button {
    width: 200px;
    height: 50px;
    border-radius: 20px;
}

.callout_button {
    background: #FF5B5B;
    margin: 0 auto;
}

.callout_button:hover {
    background: red;
}

.close_button {
    background: #363636;
    margin: 0 auto;
}

/* .close_button:hover{background: black;} */
.dialogMask {
    width: 100%;
    height: 100%;
    background: #000;
    position: fixed;
    top: 0px;
    left: 0px;
    opacity: 0.4;
    z-index: 8000;
    display: none;
    -moz-user-select: none;
    -webkit-user-select: none;
}

.dialog {
    width: 380px;
    background: #fff;
    position: absolute;
    z-index: 9000;
    padding-bottom: 10px;
    display: none;
    -moz-user-select: none;
    -webkit-user-select: none;
}

.dialog_head {
    width: 100%;
    height: 45px;
    background: #535353;
    text-align: center;
    line-height: 45px;
    color: #eee;
    cursor: move;
    font-size: 16px;
}

.dialog_content {
    width: 100%;
    height: 300px;
}

.dialog .topClose {
    width: 25px;
    height: 25px;
    position: absolute;
    right: 18px;
    top: 10px;
    font-size: 30px;
    color: #fff;
    text-align: center;
    line-height: 24px;
}

.dialog .topClose:hover {
    /* background-color: #e42f2b; */
    cursor: pointer;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

input[type="number"] {
    -moz-appearance: textfield;
}

/* 设计任务根据权限显示 */
.designTask {
    display: none;
}


#cnzz_stat_icon_1275442429 {
    position: absolute;
    opacity: 0;
}

/* 侧边栏 */
.sidebar {
    position: fixed;
    top: 50%;
    right: 0;
    transform: translate(0,-50%);
    font-size: 12px;
    color: #fff;
    text-align: center;
    background-color: #fff;
    z-index: 999;
    /* display: none; */
}

.sidebar li {
    width: 60px;
    height: 59px;
    /* border: 1px solid #ccc; */
    background-color: #00aef3;
    padding: 8px 0;
    margin-bottom: 1px;
}

.sidebar li:hover {
    cursor: pointer;
    background-color: #666;
}

.sidebar li img {
    width: 25px;
    height: 25px;
}

.sidebar .QRcodeBox {
    color: #333;
    position: absolute;
    bottom: 60px;
    right: 55px;
    display: none;
}

.sidebar .phoneImg {
    color: #333;
    position: absolute;
    bottom: 182px;
    right: 56px;
    display: none;
}


.class_qidian_wpa {
    
    position: absolute;
    top:8px;
    left: 0;
    height: 60px;
    opacity: 0;
}

.wpa-container {
    display: inline-block;
    height: 60px;
}


/* 个人菜单 */
.menuBox {
    float: left;
    font-size: 14px;
    color: #333;
}

.menuBox .menuTitle:nth-child(1) {
    margin-top: 0;
}

.menuBox li {
    line-height: 27px;
}

.menuBox .menuTitle{
    font-weight: 600;
}

.menuBox a{
    color: #666;
}

.menuBox .menuTitle {
    margin: 10px 0;
}

/* 百度商桥 */
#newBridge .icon-right-center {
    top: 57%!important;
    right: -84px!important;
    opacity: 0;
}

#newBridge .icon-right-center:hover {
    background-color: #666;
}

/* #newBridge .icon-left-bottom {
    top: 53%!important;
    right: 2px!important;
} */

/* 友情链接 */
.blogroll{
    text-align: center;
    margin-top: 25px;
}

.blogroll .blogrollItem {
    /* float: left; */
    display: inline-block;
    margin-left: 30px;
}

.blogroll img {
    width: auto;
    height: auto;
}

/* .blogrollItem .blogroll1 {
    width: 80px;
}

.blogrollItem .blogroll2 {
    width: 80px;
}

.blogrollItem .blogroll3 {
    width: 150px;
}

.blogrollItem .blogroll4 {
    width: 200px;
}

.blogrollItem .blogroll5 {
    width: 80px;
} */

.portal {
    color: #666;
    /* padding-left: 260px; */
    /* margin: 38px 0; */
    margin: 10px 0 30px;
    font-size: 12px;
    text-align: center;
}

.portal a {
    color: #666;
}

.portal a:hover {
    color: #0c9cf3;
}